<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>kombiSell</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/importFile/taglib.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlets.Index</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccueilAfterCon</servlet-name>
    <servlet-class>servlets.AccueilAfterCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InscriptionUser</servlet-name>
    <servlet-class>kombi.inscription.InscriptionUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ErrorPage</servlet-name>
    <servlet-class>kombi.servlet.ErrorPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModAddArticle</servlet-name>
    <servlet-class>kombi.module.ajouter_article.ModAddArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionKombi</servlet-name>
    <servlet-class>kombi.Gestion.GestionKombi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategorieKombi</servlet-name>
    <servlet-class>kombi.categorie.CategorieKombi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifierCatego</servlet-name>
    <servlet-class>kombi.categorie.ModifierCatego</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuprimerCategorie</servlet-name>
    <servlet-class>kombi.categorie.SuprimerCategorie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SousCategorieDao</servlet-name>
    <servlet-class>kombi.categorie.SousCategorieDao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModPanier</servlet-name>
    <servlet-class>kombi.module.panier.ModPanier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModPromotion</servlet-name>
    <servlet-class>kombi.module.promotion.ModPromotion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfilUser</servlet-name>
    <servlet-class>kombiuser.param.ProfilUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserParam</servlet-name>
    <servlet-class>kombiuser.param.UserParam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SousCatAcc</servlet-name>
    <servlet-class>kombi.servlet.SousCatAcc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControlParam</servlet-name>
    <servlet-class>kombiuser.param.ControlParam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatAllSou</servlet-name>
    <servlet-class>servlets.CatAllSou</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Recherche</servlet-name>
  	<servlet-class>kombi.search.Recherche</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SousCatConsult</servlet-name>
  	<servlet-class>kombi.search.SousCatConsult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArtGest</servlet-name>
  	<servlet-class>kombi.gestionart.ArtGest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccueilAfterCon</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InscriptionUser</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorPage</servlet-name>
    <url-pattern>/erreurconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModAddArticle</servlet-name>
    <url-pattern>/ajouterarticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionKombi</servlet-name>
    <url-pattern>/gestionespace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategorieKombi</servlet-name>
    <url-pattern>/addcategorie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifierCatego</servlet-name>
    <url-pattern>/modifiercategorie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuprimerCategorie</servlet-name>
    <url-pattern>/suprimercategorie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SousCategorieDao</servlet-name>
    <url-pattern>/creersouscat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModPanier</servlet-name>
    <url-pattern>/modPanier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModPromotion</servlet-name>
    <url-pattern>/modPromotion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfilUser</servlet-name>
    <url-pattern>/profiluser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserParam</servlet-name>
    <url-pattern>/paramuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SousCatAcc</servlet-name>
    <url-pattern>/souscatacc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlParam</servlet-name>
    <url-pattern>/controlparam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatAllSou</servlet-name>
    <url-pattern>/touslescategories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Recherche</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SousCatConsult</servlet-name>
  	<url-pattern>/consultearticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArtGest</servlet-name>
  	<url-pattern>/artgest</url-pattern>
  </servlet-mapping>
</web-app>