@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}



/******************************************************

	$INDEX1 - GENERAL
	
******************************************************/	



body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;

    -moz-transition: background-color 1s ease-in;
    -webkit-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    -ms-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
}


::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

a {
	text-decoration: none;
}

a:hover {}

#container {
	position: relative;
	padding-bottom: 50%;
	
}

h1{
	font-family: 'Lobster Two', 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
    font-size: 5em;
	text-align: center;
	margin: 0px 0px;
}

h2{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
    font-size: 2em;
	text-align: center;
	margin: 0px 0px;
}

h3{
	font-family: 'Lobster Two', 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
    font-size: 1.8em;
	text-align: left;
	margin: 0px 0px;
	border-bottom: 3px solid;
}

hr{
	border-top: 1px solid;
	border-bottom: 0px;
	margin: 20px auto 30px auto;
	width: 98%;
	
}

.display{
	display: block;
}

.hide{
	display: none;
}

.no-border{
	border: 0px;
}

p{
	font-weight: 300;
	font-size: 1.3em;
	display: inline-block;
}

/******************************************************

	$INDEX2 - HEADER COMMON
	
******************************************************/	




header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

header h1{
	font-family: 'Lobster Two', 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
    margin: 0;
}

header h1, header nav a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;	
}







/******************************************************

	$INDEX3 - MENU COMMON
	
******************************************************/	




nav a{}

nav a.current, nav a:hover{}





	

/******************************************************

	$INDEX4 - HEADER STANDARD
	
******************************************************/	




.headerstandard {
    height: 90px;
}


		.headerstandard .headerstandard-inner {
			width: 90%;
			max-width: 69em;
			margin: 0 auto;
			padding: 0 1.875em;
		}


		 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
		.headerstandard h1,
		.headerstandard nav.menustandard a {
			line-height: 90px;
		}

		 .headerstandard h1 {
			letter-spacing: 4px;
			font-size: 4em;
			float: left;
		}

		 .headerstandard nav.menustandard{
			display: inline-block;
			position: relative;
			float: right;
		}

		.headerstandard nav.menustandard a {
			margin: 0 0 0 8px;
			font-size: 1.3em;
			font-weight: 300;
			padding: 8px 10px;
			
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}

/******************************************************

	$INDEX5 - HEADER STANDARD REDUIT
	
******************************************************/	




.headerstandard.headerstandard-shrink {
    height: 90px;
}
 
.headerstandard.headerstandard-shrink h1,
.headerstandard.headerstandard-shrink nav.menustandard a {
    line-height: 90px;
}
 
.headerstandard.headerstandard-shrink h1 {
    font-size: 3em;
}








/******************************************************

	$INDEX6 - HEADER MOBILE
	
******************************************************/	




header.headermobile {
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	height: auto;
	margin: 0px auto 20px auto;
	padding: 0px;
	z-index: 10000;
	display: none;
}
	
header.headermobile h1 {
	font-weight: 300;
	text-align: center;
	font-size: 2em;
	margin-top: 10px;
}

header.headermobile button {
	position: absolute;
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
	margin: 10px 10px 0px 10px;
}


.menumobile a {
	display: block;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 300;
	width: 100%;
	text-align: center;
			
}

		/* Orientation-dependent styles for the content of the menu */

.menumobile {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 10000;
}

.menumobile a {
	padding: 1em;
}








/******************************************************

	$INDEX7 - MAIN CONTENT
	
******************************************************/	

.mobile{
	display: none;
}


/******************************************************

	$INDEX11 - MEDIA QUERIES : TABLETS
	
******************************************************/	




/* TABLETS */
@media screen and (max-width: 1020px ) {
     
.headerstandard .headerstandard-inner {
    width: 100%;
 }
 
.headerstandard h1,.headerstandard nav.menustandard{ 	
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
}
 
.headerstandard h1,.headerstandard nav.menustandard a {
    line-height: 115px;
}
 
.headerstandard nav.menustandard a {
     margin: 0 10px;
 }

.headerstandard.headerstandard-shrink {
	height: 130px;
}  
	
.headerstandard.headerstandard-shrink h1,
.headerstandard.headerstandard-shrink nav a {
    line-height: 45px;
  }
 
.headerstandard.headerstandard-shrink h1 {
    font-size: 3em;	
	background: none;
	text-indent: 0px;
    }
 
.headerstandard.headerstandard-shrink nav a {
      font-size: 1.2em;
 }






/******************************************************

	$INDEX12 - MEDIA QUERIES : SMARTPHONES
	
******************************************************/	






/* SMARTPHONES */
@media screen and (max-width: 767px ) {
    .headerstandard {
        display: none;
    }
	
	
    header.headermobile  {
        display: block;
    }
	
	.menumobile{
		display: none;
		width: 100%;
	}
	
		
	